<h1>Listing image_uploads</h1>

<table>
  <tr>
    <th>Filename</th>
    <th></th>
    <th></th>

  </tr>

<% @image_uploads.each do |image_upload| %>
  <tr>
    <td>
    	<%= phocoder_thumbnail image_upload,"small" %><br/>
		<%= image_upload.filename %>
	</td>
    <td><%= link_to 'Show', image_upload %></td>
    
    <td><%= link_to 'Destroy', image_upload, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image upload', new_image_upload_path %>
